<mat-toolbar color="primary">
    <span>Dashboard</span>
</mat-toolbar>
<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sales by Category</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: block;">
                <app-sales-by-category></app-sales-by-category>

            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Monthly Revenue</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: block;">
                <app-monthly-revenue></app-monthly-revenue>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Yearly Sales Trends</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div style="display: block;">
                <app-yearly-sales-trends></app-yearly-sales-trends>

            </div>
        </mat-card-content>
    </mat-card>

</div>