<div>
    <div class="container">
      <ul class="vertical-nav-Menu">
        <li
          class="menu-item"
          routerLink="/dashboard"
          [routerLinkActive]="'active'"
        >
          <a>
            <i class="bi bi-grid-1x2-fill"></i>
            <span class="isText" *ngIf="!toggle">Dashboard</span>
          </a>
        </li>
        <li class="menu-item" routerLink="/product/list" [routerLinkActive]="'active'">
          <a>
            <i class="bi bi-list-ul"></i>
            <span class="isText" *ngIf="!toggle">Product Management</span>
          </a>
        </li>
        <li
          class="menu-item"
          (click)="openDialog()"
          routerLink="/logout"
          [routerLinkActive]="'active'"
        >
          <a>
            <i class="bi bi-box-arrow-left"></i>
            <span class="isText" *ngIf="!toggle">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  